<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaroslavistok.personalmobileassistantformanagingdiabetes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/diabetes_icon"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".DiabetesApplication">
        <activity
            android:name=".activities.AddLogEntryActivity"
            android:label="@string/title_activity_add_log"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeScreenActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.SyncingFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.SyncingFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".receivers.SampleAlarmReceiver" />
        <receiver
            android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.SampleSchedulingService" />

        <activity
            android:name=".activities.EntriesListActivity"
            android:label="@string/List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LogInActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity
            android:name=".activities.RemindersActivity"
            android:label="@string/title_activity_reminders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AlarmNotificationActivity"
            android:label="@string/title_activity_alarm_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GraphViewExampleActivity"
            android:label="@string/title_activity_graph_view_example"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>